/* Main content */
.container{
	width: 1170px;
	margin: 0 auto;
}

/* Main box style */
.box {
    background: cornflowerblue;
    padding:  10px;
    text-align:  center;
    font-size: 40px;
    color:  #fff;
    margin: 10px;
    width: 500px;
}

/* Box Color */
.box.box-1 {background:  #e51400;}
.box.box-2 {background: #fa6800;}
.box.box-3 {background: #f0a30a;}
.box.box-4 {background: #e3c800;}
.box.box-5 {background:  #a4c400;}
.box.box-6 {background: #60a917;}
.box.box-7 {background: #00aba9;}
.box.box-8 {background:  #1ba1e2;}


/* Container */
.main-content {
    display:  flex; 
    border: 4px solid black;

    /* flex-direction: column/column-reverse/row/row-reverse; */
    flex-direction: column-reverse;

    /* flex-wrap: no-wrap/wrap/wrap-reverse; */
    flex-wrap: wrap-reverse;
 
    height: 500px;
}