
/* Reset CSS */
*{
    margin: 0;
    padding: 0;
}


/* Main content */
.container{
    width: 1170px;
    margin: 0 auto;
}

/* Main box style */
.box {
    background: cornflowerblue;
    padding:  10px;
    text-align:  center;
    font-size: 40px;
    color:  #fff;
    /* margin: 10px; */
    /* width: 500px; */
    width: 100px;
}

/* Box Color */
.box.box-1 {background:  #e51400;}
.box.box-2 {background: #fa6800;font-size: 60px;}
.box.box-3 {background: #f0a30a;}
.box.box-4 {background: #e3c800;font-size: 162px;}
.box.box-5 {background:  #a4c400;}
.box.box-6 {background: #60a917;font-size: 80px;}
.box.box-7 {background: #00aba9;}
.box.box-8 {background:  #1ba1e2;}


/* Container */
.main-content {
    display:  flex;
    border: 4px solid black;
    /* flex-direction: column/column-reverse/row/row-reverse; */
    flex-direction: row;
    /* justify-content: center/flex-start/flex-end/space-between/space-around; */
    /* flex-wrap: no-wrap/wrap/wrap-reverse; */
    flex-wrap: wrap;
    /* justify-content: center; */
    /* justify-content: flex-start; */
    height: 400px;
    /* justify-content: flex-end; */
    /* justify-content:  space-around; */
    justify-content: center;
    /* align-items: center/baseline/flex-start/flex-end; */
    align-items: flex-end;
}


/* sidebar stylesheet */
.sidebar {
    background:  #ddd;
    width: 15vw;
    height:  100vh;
    font-family:  raleway;
    font-size:  18px;
    display: flex;
    flex-direction:  column;
    justify-content: space-between;
    padding: 10px;
}

.item {
    margin: 5px 0;
}