/* Reset CSS */
*{
    margin: 0;
    padding: 0;
}


/* Main content */
.container{
    /* width: 1170px; */
    /* margin: 0 auto; */
}

/* Main box style */
.box {
    background: cornflowerblue;
    /* padding:  10px; */
    text-align:  center;
    font-size: 18px;
    line-height: 30px;
    padding: 10px;
    font-family: Raleway;
    color:  #fff;
    /* margin: 10px; */
    /* width: 500px; */
    /* width: 100px; */
    /* flex: 1 0 250px; */
    /* flex-basis: 200px; */
    /* flex-basis: 25%; */
    /* flex-grow: 1; */
    flex: 1 1 200px;
    /* flex:  flex-grow/flex-shrink/flex-basis; */
}

/* Box Color */
.box.box-1 {background:  #e51400;/* flex-grow: 1; *//* flex-shrink: 2; */}
.box.box-2 {background: #fa6800;/* flex-shrink: 0; */}
.box.box-3 {background: #f0a30a;/* flex-shrink: 1; */}
.box.box-4 {/* flex-grow: 2; */background: #e3c800;}
.box.box-5 {background:  #a4c400;}
.box.box-6 {background: #60a917;}
.box.box-7 {background: #00aba9;}
.box.box-8 {background:  #1ba1e2;}


/* Container */
.main-content {
    display:  flex;
    /* border: 2px solid black; */
    /* flex-direction: column/column-reverse/row/row-reverse; */
    flex-wrap: wrap;
    /* justify-content: center/flex-start/flex-end/space-between/space-around; */
    /* flex-wrap: no-wrap/wrap/wrap-reverse; */
    /* justify-content: center; */
    /* justify-content: flex-start; */
    /* flex-wrap: wrap; */
    /* height: 400px; */
    /* justify-content: flex-end; */
    /* justify-content:  space-around; */
    /* justify-content: center; */
    /* align-items: center/baseline/flex-start/flex-end; */
    /* align-self: center; */
    /* align-content: center; */
    /* align-items: center; */
}


/* sidebar stylesheet */
.sidebar {
    background:  #ddd;
    width: 15vw;
    height:  100vh;
    font-family:  raleway;
    font-size:  18px;
    display: flex;
    flex-direction:  column;
    justify-content: space-between;
    padding: 10px;
}

.item {
    margin: 5px 0;
}





/* flexible navbar */

nav.flex-nav {display:  flex;background:  #ddd;border:  1px solid #000;padding: 10px;display: flex;flex-wrap:  wrap;justify-content: flex-end;}
nav.flex-nav ul {
    margin:  0;
    padding:  0;
    list-style: none;
}
nav.flex-nav ul li a {color:  #000;text-decoration:  none;font-size:  24px;padding: 0 14px; transition: color 0.5s ease-out;}
nav.flex-nav ul li a:hover {
    color: cornflowerblue;
}

/* Flexible navbar meadia screen */
@media screen and (max-width:920px){
    nav.flex-nav{
        justify-content: center;
    }
}
@media screen and (max-width:600px){
    nav.flex-nav ul li{
        nav.flex-nav ul line-height: red;
        display:  flex;
        flex-direction:  column;
    }
}